<html>

    <title>EXCEL VERI AKTARIMI</title>
    <h1>EXCEL DOSYA SECIMI</h1>
    <form action="{{ url_for('exnet') }}" method=post enctype="multipart/form-data">
      <p>excel<input type=file title="excel sec" name=file><br>
	  ayar<input type=file title="ini sec" name=file2><p>
         <input type=submit value=excelaktar>
    </form>
  <a href="../"><img src="./static/ana.png" border="0"></a>
  <a href="../sbk"><img src="./static/info.png" border="0"></a>
  <a href="../halis"><img src="./static/add.png" border="0"></a>
  <a href="../fatura"><img src="./static/kaydet.png" border="0"></a>
  <a target="_blank" href="./static/f21.html"><img src="./static/calc.ico" border="0"></a>
  <a href="../exit"><img src="./static/close.png" border="0"></a><br>
</html>